@charset "utf-8";

body{
  overflow-x: hidden;
  background: #ece4d1;
}

.wipe {
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.header_content {
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2px;
  transition-duration: 300ms;
  width: 100%;
  max-width: 100%;
}

.logo_img {
  width: 260px;
  max-width: 100%;
}

.title {
  text-align: center;
  border-bottom: 1px solid #1e1b19;
  border-top: 1px solid #1e1b19;
}

.title_top {
  padding: 35px 0px 0px 0px;
}

.title_border {
  border-bottom: 0px solid #1e1b19;
  border-top: 4px solid #1e1b19;
  padding: 2px 0px 0px 0px;
  width: 100%;
}

.title_logo {
  margin-bottom: 0;
}

.sb_title {
  font-size: 15px;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.03em;
  line-height: 1;
  text-align: center;
  transition-duration: 0ms;
  width: auto;
  max-width: 100%;
  margin-top: 0;
  justify-content: center;
}

.nav {
  display: flex;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #1e1b19;
  border-top: 1px solid #1e1b19;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 24px 0px;
  margin: 3px 0 0;
}

li {
  list-style: none;
}

.Separator {
  background: #1e1b19;
  height: 16px;
  transition-duration: 0ms;
  width: 1px;
  max-width: 100%;
}

.nav_link {
  color: #1e1b19;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0;
  text-align: center;
  max-width: 100%;
  justify-content: center;
  font-family: "Zen Antique", serif;
  font-weight: 100;
}

.nav_link_asterisk {
  position: relative;
}

.asterisk {
  background: #1e1b19;
  border-radius: 2px;
  height: 4px;
  margin: 0;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 4px;
}

.jpen {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin: 0px 0px 0px 20px;
  padding: 0px;
}

.slash {
  background: #1e1b19;
  border-radius: 0;
  height: 10px;
  margin: 0px 1px 0px 0px;
  transform: rotate(30deg);
  width: 1px;
  max-width: calc(100% - 1px);
}

.jp {
  color: #b22222;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0;
  max-width: 100%;
  justify-content: center;
  text-decoration: none;
}

.en {
  color: #1e1b19;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0;
  text-align: center;
  max-width: 100%;
  justify-content: center;
  text-decoration: none;
}

.bg_design {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -3;
  max-width: 100%;
}

/* main */

.main_top {
  display: flex;
  gap: 40px;
  padding-bottom: 40px;
  width: 1360px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.content_box {
  align-content: flex-start;
  gap: 40px;
  max-width: 100%;
  padding: 0px 40px 0;
  width: 100%;
  align-content: center;
}

.top_about {
  color: #1e1b19;
  font-family: "Zen Antique", serif;
  font-style: normal;
  font-size: 5vw;
  font-weight: 400;
  line-height: 1;
  margin: 0px 0px 16px 0px;
  text-align: left;
  max-width: 100%;
}

#about {
  flex: 5;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: auto;
  padding: 40px 0px 0px 0px;
  width: auto;
  max-width: 100%;
}

.about_content {
  max-width: 100%;
}

.about_img {
  margin: 0 auto;
}

.first_text {
  color: #1e1b19;
  font-family: "Zen Antique", serif;
  font-feature-settings: 'palt' 1;
  font-size: 14px;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.08em;
  line-height: 2;
  text-align: left;
  transition-duration: 0ms;
  width: 100%;
  max-width: 100%;
}

.second_text {
  color: #1e1b19;
  font-family: "Zen Antique", serif;
  font-feature-settings: 'palt' 1;
  font-size: 14px;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.08em;
  line-height: 2;
  margin: 0px 0px 24px 0px;
  text-align: right;
}

.content_text {
  color: #1e1b19;
  font-family: "Zen Antique", serif;
  font-feature-settings: 'palt' 1;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 2;
  margin: 0;
  text-align: justify;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
}

.view {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  margin: 32px 0px 56px 0px;
  width: 100%;
  max-width: 100%;
}

.view_link {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 0;
}

.view_line {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0;
  position: relative;
}

.view_line_top {
  background: #1e1b19;
  height: 1px;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  transform: scale(1, 1);
  transform-origin: center left;
  transition-duration: 0ms;
  width: 40px;
  max-width: 100%;
}

.view_line_under {
  background: #1e1b19;
  height: 1px;
  transform: scale(0, 1);
  transform-origin: center left;
  transition-duration: 500ms;
  width: 40px;
  max-width: 100%;

}

.view_link:hover .view_line_top {
  opacity: 0;
  transform: scale(1, 1);
}

.view_link:hover .view_line_under {
  background: #b22222;
  transform: scale(1, 1);
}

.view_text {
  color: #333;
  font-family: "Zen Antique", serif;
  font-size: 14px;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.05em;
  line-height: 1;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

.view_text:hover {
  color: #b22222;
}

.collection_content{
  flex: 11;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 0px 0px 0px 0px;
  width: auto;
  max-width: 100%;
}

.collection_li {
  gap: 10px;
  justify-content: center;
  padding: 0px;
  width: 220px;
  max-width: 100%;
  flex: none;
}

.collection_top {
  flex: 11;
  margin: 0;
  padding: 30px 0px 0px 0px;
  width: auto;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.collection_left {
  border-left: 1px solid #1e1b19;
  flex-direction: column;
  padding: 0px 0px 0px 40px;
  width: 100%;
  max-width: 100%;
}

.collection_title {
  font-size: 3vw;
  font-family: "Zen Antique", serif;
  font-weight: 100;
  margin: 0 0 32px 0;
}

.collection_column {
  display: flex;
  gap: 8px;
  margin: 0px 0px 40px 0px;
  width: 100%;
  max-width: 100%;
  align-content: flex-start;
  align-items: flex-start;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: flex-start;
  margin: 0px 0px 40px 0px;
}

/* slideanimation */
.img_animation {
  animation-name:bgextendAnimeBase;
  animation-duration:1s;
  animation-fill-mode:forwards;
  position: relative;
  overflow: hidden;/*はみ出た色要素を隠す*/
  opacity:0;
}

@keyframes bgextendAnimeBase{
  0% {
    opacity:0;
  }

  50% {
    opacity:0;
  }

  100% {
    opacity:1;  
}
}

/*--------- 左から --------*/
.img_animation::before {
  animation-name:bgLRextendAnime;
  animation-duration:1.3s;
  animation-fill-mode:forwards;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;/*伸びる背景色の設定*/
  z-index: 999;
}



@keyframes bgLRextendAnime{
  0% {
    transform-origin:left;
    transform:scaleX(0);
  }
  50% {
    transform-origin:left;
    transform:scaleX(1);
  }
  50.001% {
    transform-origin:right;
  }
  100% {
    transform-origin:right;
    transform:scaleX(0);
  }
}

.scroll {
  opacity : 0;
  transform : translate(-100px, 0);
  transition : all 0.7s;
  z-index: 999;
  animation-name:bgLRextendAnime;
}

.scroll.active{
  opacity : 1;
  transform : translate(0, 0);
}

.fashion_img {
  transition-delay: 800ms;
  transition-duration: 0ms;
  width: 100%;
}

.detail_text {
  color: #1e1b19;
  font-family: "Zen Antique", serif;
  font-size: 9px;
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
  max-width: 220px;
}

.detail_text p {
  margin: 0;
}

.detail_text p a {
  color: #1e1b19;
}

.detail_text p a:hover {
  color: #b22222;
}

/* masterpiece */

.masterpiece_content {
  gap: 40px;
  width: 1360px;
  max-width: 100%;
  margin: 0 auto;
  border-top: 1px solid #1e1b19;
  border-bottom: 1px solid #1e1b19;
}

.masterpiece_catchcopy {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 40px 0px;
  width: 100%;
  max-width: 100%;
}

.masterpiece_title {
  font-size: 7vw;
  font-family: "Zen Antique", serif;
  font-weight: 500;
  margin: 0;
}

.masterpiece_text {
  color: #1e1b19;
  font-family: "Zen Antique", serif;
  font-feature-settings: 'palt' 1;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 2;
  margin: 30px 0px 0px 0px;
  text-align: justify;
  width: 40%;
  max-width: 40%;
  justify-content: space-between;
}

.masterpiece_box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  width: 100%;
  max-width: 100%;
}

.masterpiece_first {
  flex: 471;
  flex-direction: column;
  flex-wrap: nowrap;
}

.masterpiece_second {
  flex: 881;
  flex-direction: column;
  flex-wrap: nowrap;
}

.masterpiece_second_content {
  display: flex;
  gap: 8px;
}

.masterpiece_second_content_in1 {
  flex: 471;
  flex-direction: column;
  flex-wrap: nowrap;
}

.masterpiece_second_content_in2 {
  flex: 402;
  flex-direction: column;
  flex-wrap: nowrap;
}

.masterpiece_wrapper {
  max-width: 100%;
  width: 1360px;
  padding-bottom: 40px;
}

.masterpiece_img_link {
  position: relative;
}

.masterpiece_img_link img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.after {
  position: absolute;
  z-index: -1;
  left: 0;
  margin: 0;
  top: 0;
}

.masterpiece_box a {
  display: block;
}

.before:hover {
  opacity: 0;
}

/* section4 */
.BLOGINSTAGRAM {
  display: flex;
  gap: 40px;
  padding: 40px 0px;
  width: 1360px;
  max-width: 100%;
  margin: 0 auto;
}

.blog_store {
  align-items: flex-start;
  border-right: 1px solid #1e1b19;
  display: flex;
  flex: 23;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: auto;
  justify-content: flex-start;
  margin: 0px 0px 0px 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px 40px 0px 0px;
  max-width: 100%;
}

#blog {
  border-bottom: 1px solid #1e1b19;
  justify-content: flex-start;
  padding: 0px 0px 40px 0px;
  width: 100%;
  max-width: 100%;
}

.bloginsta_waper {
  display: flex;
}

.blog_title {
  color: #1e1b19;
  display: flex;
  font-family: "Zen Antique", serif;
  font-size: 3.5vw;
  font-weight: 400;
  height: auto;
  line-height: 1;
  margin: 0px 0px 16px 0px;
  text-align: left;
  transition-duration: 0ms;
  width: auto;
  max-width: 100%;
  justify-content: flex-start;
}

.blog_text {
  color: #1e1b19;
  font-family: "Zen Antique", serif;
  font-feature-settings: 'palt' 1;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 2;
  margin: 0px 0px 32px 0px;
  text-align: left;
  width: 530px;
}

.blog_insta a {
  text-decoration: none;
}

.blog_insta {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 0px;
  justify-content: flex-start;
  margin: 0;
  padding: 0px;
}

.blog_img {
  flex-direction: column;
  border-left: 1px solid #1e1b19;
  height: 120px;
  justify-content: center;
  width: 33%;
  max-width: 33%;
}

.blog_rightline {
  border-right: 1px solid #1e1b19;
}

.blog_box {
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 0px;
}

.blog_box:hover .blog_black {
  opacity: 0;
}

.blog_box_text {
  font-size: 2vw;
  font-family: "Zen Antique", serif;
  font-weight: 100;
  color: #1e1b19;
}

.blog_color {
  position: relative;
}

.blog_red {
  position: absolute;
  left: 0;
  z-index: -1;
}

/* section5 */
#online-store {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 40px 0px 0px 0px;
}

#online-store p {
  color: #1e1b19;
  font-family: "Zen Antique", serif;
  font-feature-settings: 'palt' 1;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 2;
  margin: 0px 0px 32px 0px;
  text-align: left;
  width: 530px;
  max-width: 100%;
}

.online_store_title {
  font-size: 5vw;
  font-family: "Zen Antique", serif;
  font-weight: 100;
  margin: 0;
}

.store_img {
  width: 100%;
  max-width: 100%;
}

/* stockist */
.stockist_contact_content {
  align-items: center;
  display: flex;
  flex: 10;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 10%;
}

#stockist {
  border-bottom: 1px solid #1e1b19;
  padding: 0px 0px 40px 0px;
}

.stockist_title {
  font-size: 3.5vw;
  font-family: "Zen Antique", serif;
  font-weight: 100;
  margin: 0 0 10px 0;
}

.stockist_text {
  color: #1e1b19;
  font-family: "Zen Antique", serif;
  font-feature-settings: 'palt' 1;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 2;
  margin: 0;
  text-align: justify;
  justify-content: space-between;
}

.stockist_img , .contact_img {
  width: 100%;
  max-width: 100%;
}

/* contact */
.contact_content {
  padding: 40px 0 0 0;
}

.contact_title {
  font-size: 3.5vw;
  font-family: "Zen Antique", serif;
  font-weight: 100;
  color: #ededed;
}

.contact_box {
  position: relative;
}

.contact_text {
  color: #ededed;
  font-family: "Zen Antique", serif;
  font-feature-settings: 'palt' 1;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 2;
  margin: 0px 32px;
  text-align: center;
  justify-content: center;
}

.contact_img {
  position: relative;
  top: 0;
  z-index: -1;
}

.contact_page {
  align-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10%;
  z-index: 3;
  text-align: center;
}

.contact_box:hover , .store_img:hover {
  opacity: .7;
}

/* footer */
.footer_content {
  align-content: center;
  align-items: center;
  padding: 0px 40px 40px 40px;
  width: 100%;
  max-width: 100%;
}

.footer_waper {
  border-bottom: 4px solid #1e1b19;
  border-top: 1px solid #1e1b19;
  padding: 2px 0px;
}

.footer_box {
  display: flex;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #1e1b19;
  border-top: 1px solid #1e1b19;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0px 0px 24px 0px;
}

.footer_flex {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-wrap: nowrap;
  gap: 16px;
  justify-content: center;
}

.footer_link {
  text-decoration: none;
}

.footer_nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 24px 0px;
  margin-top: 3px;
  position: relative;
}

.footer_logo {
  margin: 0px 0px 24px 0px;
  width: 250px;
  max-width: 100%;
}

.footer_text {
  color: #1e1b19;
  font-family: "Zen Antique", serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1;
  text-align: center;
}

/* hover */
.blog_box:hover .blog_box_text , .nav_link:hover ,
.en:hover , .view_link:hover .view_text {
  color: #b22222;
}

.nav_link_asterisk:hover .asterisk {
  background-color: #b22222;
}

a:hover {
  color: #b22222;
}

/* sp */
.sp_nav {
  border-top: 1px solid #1e1b19;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0;
  margin-top: 10px;
}

/* 以上 */
@media screen and (min-width: 882px) {
  .sp_nav , .sp_first_text , .sp_masterpiece , .sp_blog , .sp_stockist_content ,
  .tablet_footer , .sp_footer , ._contact_content {
    display: none;
  }
}

/* 以下 */
@media screen and (max-width: 881px) {
  .first_text , .second_text , .pc_nav , .masterpiece_box ,
  .bloginsta_waper , .pc_footer , .sp_footer , 
  .stockist_contact_content , .blog_store , ._contact_content{
    display: none;
  }

  .title_logo {
    gap: 12px;
    padding: 20px 0px 24px 0px;
  }

  .title {
    margin-bottom: 3px;
  }

  .sb_title {
    display: none;
  }

  .sp_nav {
    display: flex;
    margin: 0;
  }

  .header_content {
    max-width: 108%;
  }

  .bg_design {
    width: 108%;
    max-width: 108%;
  }

  .sp_nav_column {
    display: flex;
    border-bottom: 1px solid #1e1b19;
    align-content: center;
    align-items: center;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
  }

  .sp_first_text {
    color: #1e1b19;
    font-family: "Zen Antique", serif;
    font-feature-settings: 'palt' 1;
    font-size: 14px;
    font-weight: 400;
    height: auto;
    letter-spacing: 0.08em;
    line-height: 2;
    text-align: left;
    transition-duration: 0ms;
    width: 100%;
    max-width: 100%;
  }

  .sp_nav_link {
    align-content: center;
    align-items: center;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 18px 0px;
    max-width: 100%;
    text-decoration: none;
  }

  .sp_nav_link p {
    color: #1e1b19;
    font-family: "Zen Antique", serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1;
    margin: 0;
    text-align: center;
    transition-timing-function: ease;
    max-width: 100%;
    justify-content: center;
    padding: 0;
  }

  .asterisk_box {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    padding: 0px;
  }

  .sp_asterisk {
    position: relative;
    top: -5px;
    right: 135px;
    background: #1e1b19;
    border-radius: 2px;
    height: 4px;
    margin: 0;
    width: 4px;
    max-width: 100%;
  }

  .main_top {
    flex-direction: column;
  }

  .top_about {
    font-size: 10vw;
  }

  .about_img {
    width: 60vw;
  }

  .masterpiece_catchcopy {
    display: block;
  }

  .masterpiece_title {
    font-size: 10vw;
  }

  .collection_left {
    border-left: 0px solid #1e1b19;
    padding: 0;
  }

  .collection_title {
    font-size: 8vw;
  }

  .sp_contact_content {
    display: flex;
    justify-content: center;
    padding: 40px 0px 0px 0px;
    width: 100%;
    max-width: 100%;
  }

  .sp_contact_title {
    font-size: 3.5vw;
    font-family: "Zen Antique", serif;
    font-weight: 100;
    color: #ededed;
  }
  
  .sp_contact_box {
    position: relative;
  }
  
  .sp_contact_text {
    color: #ededed;
    font-family: "Zen Antique", serif;
    font-feature-settings: 'palt' 1;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 2;
    margin: 0px 32px;
    text-align: center;
    justify-content: center;
  }
  
  .sp_contact_img {
    position: relative;
    top: 0;
    z-index: -1;
    width: 100%;
  }
  
  .sp_contact_page {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30%;
    z-index: 3;
    text-align: center;
  }
  
  .masterpiece_text {
    flex: none;
    width: 100%;
    max-width: 100%;
  }

  .about_content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0px;
    width: 100%;
    max-width: 100%;
  }

  .sp_masterpiece {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
  }

  .sp_masterpiece_top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 7px;
  }

  .sp_masterpiece_first {
    flex: 36;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .sp_masterpiece_second_content_in1 {
    display: flex;
    align-items: center;
    flex: 30;
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto;
    max-width: 100%;
    gap: 2px;
  }

  .sp_masterpiece_second_content_in2 {
    display: flex;
    align-items: flex-start;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
  }

  .sp_masterpiece_second_content_in2 a {
    width: 100%;
  }

  .sp_img_masterpiece {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .BLOGINSTAGRAM {
    display: block;
  }

  .collection_column {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .sp_blog_content {
    border-bottom: 1px solid #1e1b19;
    padding: 0px 0px 40px 0px;
    width: 100%;
    max-width: 100%;
  }

  .sp_blog_title , .sp_stockist_title ,
  .sp_store_title , .sp_contact_title {
    font-size: 7vw;
    font-family: "Zen Antique", serif;
    font-weight: 100;
    margin: 0;
  }

  .bloginsta_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px 0px;
    margin: 0;
    padding: 0px;
    width: 100%;
    max-width: 100%;
  }

  .bloginsta_box_left , .bloginsta_box_right {
    background: rgba(0, 0, 0, 0.0);
    border-left: 1px solid #1e1b19;
    border-right: 1px solid #1e1b19;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100px;
    justify-content: center;
    padding: 0px 0px;
    width: 33%;
    max-width: 33%;
    text-decoration: none;
  }

  .bloginsta_box_center {
    background: rgba(0, 0, 0, 0.0);
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100px;
    justify-content: center;
    padding: 0px 0px;
    width: 33%;
    max-width: 33%;
    text-decoration: none;
  }

  .sp_Instagram_text {
    font-family: "Zen Antique", serif;
    font-size: 24px;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    max-width: 100%;
    justify-content: center;
  }

  .sp_Instagram_box {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0px;
  }

  .sp_Instagram {
    height: auto;
    width: 29px;
    max-width: 100%;
  }

  .blog_title_text , .sp_stockist_text ,
  .sp_store_text , .sp_contact_text {
    font-family: "Zen Antique", serif;
    font-weight: 100;
  }

  .sp_stockist_content , .sp_store_content {
    border-bottom: 1px solid #1e1b19;
    height: auto;
    padding: 40px 0px;
    width: 100%;
  }

  .sp_store_img {
    width: 100%;
  }

  .sp_stockist_img_box {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0px;
  }

  .sp_stockist_img_box {
    transition-delay: 800ms;
    width: 100%;
    max-width: 100%;
  }

  .sp_stockist_img {
    width: 100%;
  }

  .sp_contact_title , .sp_contact_text {
    color: #fff;
  }

  .footer_box {
    display: block;
  }

  .footer_logo {
    margin-top: 30px;
  }

  .footer_ligobox {
    display: flex;
    justify-content: center;
  }
}

/* 以下 */
@media screen and (max-width: 540px) {
  
  .content_box {
    max-width: 90%;
  }

  .sp_contact_box {
    display: none;
  }

  ._contact_content {
    display: block;
    padding: 0;
  }

  ._contact_page {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30%;
    z-index: 3;
    text-align: center;
  }

  ._contact_title{
    font-size: 10vw;
    font-family: "Zen Antique", serif;
    font-weight: 100;
    color: #fff;
  }

  ._contact_text{
    font-size: 3vw;
    font-family: "Zen Antique", serif;
    font-weight: 100;
    color: #fff;
    }

  .bloginsta_box {
    align-content: flex-start;
    align-items: flex-start;
    flex: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px 0px;
    justify-content: flex-start;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    max-width: 100%;
  }

  .odd {
    width: 49%;
    max-width: 50%;
    border-right: 0px solid #1e1b19;
    border-left: 1px solid #1e1b19;
  }

  .groups {
    width: 49%;
    max-width: 50%;
    border-right: 1px solid #1e1b19;
    border-left: 1px solid #1e1b19;
  }

  .sp_nav {
    display: none;
  }

  .footer_waper {
    max-width: 90%;
  }

  .sp_footer {
    border-bottom: 1px solid #1e1b19;
    border-left: 0px solid #1e1b19;
    border-right: 0px solid #1e1b19;
    border-top: 0px solid #1e1b19;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 3.5vw;
    gap: 12px 18px;
    padding: 12px 0px;
    justify-content: center;
  }

  .sp_footer_centerline {
    height: 1px;
    width: 100%;
    max-width: 100%;
    background: #1e1b19;
  }

  .sp_asterisk {
    right: 10px;
  }

  .textlink {
    margin: 0;
    text-decoration:none;
    color: #1e1b19;
  }

  .asterisk_box {
    text-decoration:none;
  }
}