@charset "utf-8";

body{
  overflow-x: hidden;
  background: #ece4d1;
}

.wipe {
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.title {
  text-align: center;
  border-bottom: 1px solid #1e1b19;
  border-top: 1px solid #1e1b19;
}

.title_border {
  border-bottom: 0px solid #1e1b19;
  border-top: 4px solid #1e1b19;
  padding: 2px 0px 0px 0px;
  margin-top: 50px;
}

.title_logo {
  margin-bottom: 0;
}

.sb_title {
  font-size: 15px;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.03em;
  line-height: 1;
  text-align: center;
  transition-duration: 0ms;
  width: auto;
  max-width: 100%;
  margin-top: 0;
  justify-content: center;
}

.nav {
  display: flex;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #1e1b19;
  border-top: 1px solid #1e1b19;
  flex: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 24px 0px;
  margin-top: 3px;
}

li {
  list-style: none;
}

.Separator {
  background: #1e1b19;
  flex: none;
  height: 16px;
  transition-duration: 0ms;
  width: 1px;
  max-width: 100%;
}

.nav_link {
  color: #1e1b19;
  font-weight: bold;
  font-size: 14px;
  height: auto;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

.asterisk_STORE {
  background: #1e1b19;
  border-radius: 2px;
  flex: none;
  height: 4px;
  margin: 0;
  position: absolute;
  right: 757px;
  top: 335px;
  width: 4px;
  max-width: 100%;
}

.asterisk_CONTACT {
  background: #1e1b19;
  border-radius: 2px;
  flex: none;
  height: 4px;
  left: auto;
  margin: 0;
  position: absolute;
  right: 650px;
  top: 335px;
  width: 4px;
  max-width: 100%;
}

.jpen {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin: 0px 0px 0px 20px;
  padding: 0px;
}

.slash {
  background: #1e1b19;
  border-radius: 0;
  height: 10px;
  margin: 0px 1px 0px 0px;
  transform: rotate(30deg);
  width: 1px;
  max-width: calc(100% - 1px);
}

.jp {
  color: #b51c03;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

.en {
  color: #1e1b19;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

.bg_design {
  flex: none;
  left: 0;
  margin: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -3;
  max-width: 100%;
}

/* main */

.main_top {
  display: flex;
  gap: 40px;
  padding-bottom: 40px;
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
}

.content_box {
  padding: 0px 40px;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  max-width: 100%;
}

.top_about {
  color: #1e1b19;
  font-family: "Zen Antique", serif;
  font-style: normal;
  font-size: 85px;
  font-weight: 400;
  line-height: 1;
  margin: 0px 0px 16px 0px;
  text-align: left;
  max-width: 100%;
}

#about {
  flex: 5;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: auto;
  padding: 40px 0px 0px 0px;
  width: auto;
  max-width: 100%;
}

.first_text {
  color: #1e1b19;
  flex: none;
  font-family: "Zen Antique", serif;
  font-feature-settings: 'palt' 1;
  font-size: 14px;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.08em;
  line-height: 2;
  text-align: left;
  transition-duration: 0ms;
  width: 100%;
  max-width: 100%;
}

.second_text {
  color: #1e1b19;
  flex: none;
  font-family: "Zen Antique", serif;
  font-feature-settings: 'palt' 1;
  font-size: 14px;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.08em;
  line-height: 2;
  margin: 0px 0px 24px 0px;
  text-align: right;
  transition-duration: 0ms;
  width: 100%;
  max-width: 100%;
  justify-content: flex-end;
}

.content_text {
  color: #1e1b19;
  flex: none;
  font-family: "Zen Antique", serif;
  font-feature-settings: 'palt' 1;
  font-size: 14px;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.08em;
  line-height: 2;
  margin: 0;
  text-align: justify;
  transition-duration: 0ms;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
}

.view {
  display: flex;
  align-items: flex-end;
  flex: none;
  flex-direction: column;
  justify-content: center;
  margin: 32px 0px 56px 0px;
  width: 100%;
  max-width: 100%;
}

.view_link {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 0;
}

.view_line {
  background: #1e1b19;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  justify-content: center;
  padding: 0;
}

.view_line_top {
  background: #1e1b19;
  flex: none;
  height: 1px;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  transform: scale(1, 1);
  transform-origin: center left;
  transition-duration: 0ms;
  width: 40px;
  max-width: 100%;
}

.view_line_under {
  background: #1e1b19;
  flex: none;
  height: 1px;
  transform: scale(0, 1);
  transform-origin: center left;
  transition-duration: 500ms;
  width: 40px;
  max-width: 100%;
}

.view_text {
  color: #333;
  font-family: "Zen Antique", serif;
  font-size: 14px;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.05em;
  line-height: 1;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

.store_content {
  display: flex;
  align-items: center;
  flex: none;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.store_img {
  flex: none;
  width: 90%;
  max-width: 90%;
}

.collection_top {
  align-content: flex-start;
  align-items: flex-start;
  flex: 11;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 30px 0px 0px 0px;
  width: auto;
  max-width: 100%;
}

.collection_left {
  align-content: flex-start;
  align-items: flex-start;
  border-bottom: 0px solid #1e1b19;
  border-left: 1px solid #1e1b19;
  border-right: 0px solid #1e1b19;
  border-top: 0px solid #1e1b19;
  flex: none;
  flex-direction: column;
  padding: 0px 0px 0px 40px;
  width: 100%;
  max-width: 100%;
}

.collection_title {
  font-size: 60px;
  font-family: "Zen Antique", serif;
  font-weight: 500;
  margin: 0;
}

.collection_box {
  
}

.collection_content {
  display: flex;
  gap: 8px;
  margin: 0px 0px 40px 0px;
  padding: 0px;
  width: 100%;
  max-width: 100%;
}

.fashion_img {

}